.servico1{
	margin-top: 60px;
}
.h3servico1{
	text-align: center;
}
.servico2{
	margin-top: 45px;
}

.bihome{
	background-image: url("img/BI.jpg");
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.h3homebi{
	color: #FFFFFF;
	text-align: center;
}
.phomebi{
	color: #FFFFFF;
	text-align: justify;
}