.menuHome{
	margin-bottom: 30px;
	margin-top: 25px;
}
.servico1{
	margin-top: 60px;
}
.servico1 h1{
	text-align: center;
}
.servico2{
	margin-top: 45px;
}

.bihome{
	margin-top: 60px;
	background-image: url("img/BI.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 350px;
	opacity: 2.0;
}
.bihome h1{
	padding-top: 70px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
}
.bihome p{
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
}
.btn-area{
	text-align: center;
}
.nfehome{
	padding-top: 60px;
}
.nfehome h1{
	text-align: center;
}
.clienteshome{
	margin-top: 60px;
}
.img-clientes{
	width: 85%;
	height: auto;
}
.contato-footer{
	margin-top: 150px;
}
.contato-footer h1{
	text-align: center;
}
.rodape p{
	opacity: 0.5;
	margin-top: 45px;
}